@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {

    }

    body {

    }

    @font-face {
        font-family: TitleSecondFont;
        src: url('../resources/fonts/taurasMainFont-Regular.woff'), local('Roboto');
        font-display: swap;
    }
      
    @font-face {
        font-family: Title;
        src: url('../resources/fonts/taurasTitleFont-Clean.woff'), local('Roboto');
        font-display: swap;
    }

}
